@font-face {
    font-family: nexa;
    src: url(../fonts/Nexa-Light.otf);
}

@font-face {
    font-family: nexa;
    src: url(../fonts/Nexa-Bold.otf);
    font-weight: bold;
}

body {
    overflow-x: hidden;
    font-family: nexa !important;
    margin: 0;
    font-weight: 500;
    color: #fff !important;
}

* {
    box-sizing: border-box;
}

section {
    width: 100%;
    /*padding: 0 7%;*/
    display: block;
    margin: 0;
    max-width: none;
    background-color: #373B44;
    height: 100%;
    padding: 25px 0 35px;
    background: #fff;
    /*&:nth-of-type(2n) {
        background-color: #FE4B74;
    }*/
}

.navbar {
    position: fixed;
    z-index: 99;
    right: 0;
    left: 0;
    min-height: 70px;
    border-radius: 0px !important;
    background-image: inherit;
    background-image: inherit;
    background-image: inherit;
}

.navbar-default {
    background-color: #fff !important;
    -webkit-box-shadow: inherit !important;
    box-shadow: inherit !important;
    border: 0 !important;
}

.navbar-default .navbar-nav>li>a {
    color: #000 !important;
    padding-bottom: 21px;
}

.navbar-collapse ul {
    top: 7px;
}

.navbar-collapse li img {
    height: 28px;
}

.container-fluid {
    margin-top: 5px;
}

*:focus {
    outline: 0 !important;
}

.parallax-container {
    height: 500px;
    width: 100%;
}

pre {
    overflow: auto;
}

pre code {
    word-wrap: normal;
    white-space: pre;
}

footer {
    background: #000;
    color: #ddd;
    padding: 30px 0 30px;
    text-align: center;
}

.content {
    display: table-cell;
    vertical-align: middle;
}

h1 {
    font-size: 3em;
    display: block;
    color: white;
    font-weight: 300;
}

p {
    font-size: 1.5em;
    font-weight: 500;
    color: #C3CAD9;
}

a {
    opacity: 0.6;
    font-weight: 700;
    color: #373B44;
    position: relative;
}

a:hover {
    opacity: 1;
    cursor: pointer;
}

a:active {
    top: 1px;
}

a.active {
    opacity: 1;
    border-bottom: 2px #9b8bce solid;
}

footer {
    padding: 1% 5%;
    text-align: center;
    background-color: #373B44;
    color: white;
}

footer a {
    color: #FE4B74;
    font-weight: 500;
    text-decoration: none;
    color: #ddd;
    text-decoration: none;
}

footer a:hover {
    color: #eee;
    text-decoration: underline;
}

.bg-browser-size {
    height: 100vh;
    min-height: 450px;
    width: 100vw;
    display: block;
}

.bg-image {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-top-center {
    background-position: top center;
}

.bg-transparent {
    background: transparent;
}

.btn-primary {
    background-color: rgba(255, 255, 255, 0.30) !important;
    border-color: transparent !important;
    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    transition: background .2s ease-out;
}

.btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.40) !important;
    border-color: transparent !important;
}

.border-text {
    font-size: 40px;
    line-height: 40px;
    height: 140px;
    border-left: 2px solid #fff;
    padding-top: 24px;
    padding-left: 25px;
}

@media (min-width: 550px) {
    .top-15 {
        top: 25%;
    }
}

@media (max-width: 680px) {
    #music #right {
        top: -80px !important;
    }
}

@media (max-width: 550px) {
    #home #letters {
        margin-top: -28px !important;
        right: -28px;
        position: absolute;
    }
    .videoImg {
        margin-top: 220px !important;
    }
}

@media (max-width: 790px) {
    .videoImg {
        margin-top: 85px;
    }
    .videoImg .preview {
        width: 100%;
    }
}

@media (max-width: 990px) {
    #music #right {
        top: -20px;
    }
}

/*@media (min-height: 460px) {
    .bg-home-dinamic {
        height: 150%;
    }
    .white-after-home {
        margin-top: 10% !important;
    }
}*/

/*@media (min-height: 580px) {*/
    .bg-home-dinamic {
        height: 140%;
    }
    .white-after-home {
        margin-top: 6% !important;
    }
/*}*/

/*@media (min-height: 618px) {
    .bg-home-dinamic {
        height: 121%;
    }
}*/

.play {
    opacity: 0.7;
}

.videoImg:hover .play {
    opacity: 1;
}

#galery div a div {
    transition: all 0.2s ease;
}

#galery div a div:hover {
    -webkit-box-shadow: inset 0px 0px 300px 0px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: inset 0px 0px 300px 0px rgba(0, 0, 0, 0.81);
    box-shadow: inset 0px 0px 300px 0px rgba(0, 0, 0, 0.81);
}

.arrow-down {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    z-index: 1;
    background-image: url(../img/arrow-down.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.arrow-down.bounce {
    position: absolute;
    bottom: -25px;
    left: 50%;
    width: 100px;
    height: 74px;
    margin-left: -30px;
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
    }
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
    }
}

@-o-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -o-transform: translateY(0);
    }
    40% {
        -o-transform: translateY(-30px);
    }
    60% {
        -o-transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}